<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<system.serviceModel>
		<bindings>
   <netTcpBinding>
    <binding name="NetTcpBinding_IServidorCrearCuenta">
     <security>
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_ILoginService">
     <security>
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IServicioCrearCuenta">
     <security>
      <transport sslProtocols="None" />
     </security>
    </binding>
    <binding name="NetTcpBinding_IServicioCrearCuenta1">
     <security>
      <transport sslProtocols="None" />
     </security>
    </binding>
   </netTcpBinding>
  </bindings>
		<client>
   <endpoint address="net.tcp://localhost:8083/LaOcaServicio" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IServidorCrearCuenta" contract="LaOcaService.IServidorCrearCuenta"
    name="NetTcpBinding_ILoginService">
    <identity>
     <userPrincipalName value="TheLastLaptopHP\Carim" />
    </identity>
   </endpoint>
   <endpoint address="net.tcp://localhost:8083/LaOcaServicioCrearCuenta"
    binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServicioCrearCuenta"
    contract="LaOcaService.IServicioCrearCuenta" name="NetTcpBinding_IServicioCrearCuenta">
    <identity>
     <userPrincipalName value="THELASTLAPTOPHP\Carim" />
    </identity>
   </endpoint>
   <endpoint address="net.tcp://localhost:8083/LaOcaServicio" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_ILoginService" contract="LaOcaService.ILoginService"
    name="NetTcpBinding_ILoginService1">
    <identity>
     <userPrincipalName value="THELASTLAPTOPHP\Carim" />
    </identity>
   </endpoint>
   <endpoint address="net.tcp://localhost:8083/LaOcaServicio" binding="netTcpBinding"
    bindingConfiguration="NetTcpBinding_IServicioCrearCuenta1" contract="LaOcaService.IServicioCrearCuenta"
    name="NetTcpBinding_IServicioCrearCuenta1">
    <identity>
     <userPrincipalName value="THELASTLAPTOPHP\Carim" />
    </identity>
   </endpoint>
  </client>
	</system.serviceModel>
</configuration>
