<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IServicioChat">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IServicioInicioSesion">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IServicioSala">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IServicioRecuperarSala">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="endpointCrearCuenta">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="SecureBinding" />
                <binding name="NetTcpBinding_IServicioPartida">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IServicioJugabilidad">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IServicioJugadoresEnLinea">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IServicioActualizacionJugadoresEnLinea">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IServicioSocial">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IServicioBuzon">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IServicioAmistad">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IServicioActualizacionJugadoresEnSala">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8083/LaOcaServicio" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IServicioChat" contract="LaOcaService.IServicioChat"
                name="NetTcpBinding_IServicioChat">
                <identity>
                    <userPrincipalName value="THELASTLAPTOPHP\Carim" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8083/LaOcaServicio" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IServicioInicioSesion"
                contract="LaOcaService.IServicioInicioSesion" name="NetTcpBinding_IServicioInicioSesion">
                <identity>
                    <userPrincipalName value="THELASTLAPTOPHP\Carim" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8083/LaOcaServicio" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IServicioSala" contract="LaOcaService.IServicioSala"
                name="NetTcpBinding_IServicioSala">
                <identity>
                    <userPrincipalName value="THELASTLAPTOPHP\Carim" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8083/LaOcaServicio" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IServicioRecuperarSala"
                contract="LaOcaService.IServicioRecuperarSala" name="NetTcpBinding_IServicioRecuperarSala">
                <identity>
                    <userPrincipalName value="THELASTLAPTOPHP\Carim" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8083/LaOcaServicio" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IServicioPartida" contract="LaOcaService.IServicioPartida"
                name="NetTcpBinding_IServicioPartida">
                <identity>
                    <userPrincipalName value="THELASTLAPTOPHP\Carim" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8083/LaOcaServicio" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IServicioActualizacionJugadoresEnSala"
                contract="LaOcaService.IServicioActualizacionJugadoresEnSala"
                name="NetTcpBinding_IServicioActualizacionJugadoresEnSala">
                <identity>
                    <userPrincipalName value="TAKEMIKAZUCHI\jesus" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8083/LaOcaServicio" binding="netTcpBinding"
                bindingConfiguration="SecureBinding" contract="LaOcaService.IServicioCuenta"
                name="endpointCrearCuenta">
                <identity>
                    <userPrincipalName value="THELASTLAPTOPHP\Carim" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8083/LaOcaServicio" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IServicioJugabilidad"
                contract="LaOcaService.IServicioJugabilidad" name="NetTcpBinding_IServicioJugabilidad">
                <identity>
                    <userPrincipalName value="THELASTLAPTOPHP\Carim" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8083/LaOcaServicio" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IServicioJugadoresEnLinea"
                contract="LaOcaService.IServicioJugadoresEnLinea" name="NetTcpBinding_IServicioJugadoresEnLinea">
                <identity>
                    <userPrincipalName value="THELASTLAPTOPHP\Carim" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8083/LaOcaServicio" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IServicioActualizacionJugadoresEnLinea"
                contract="LaOcaService.IServicioActualizacionJugadoresEnLinea"
                name="NetTcpBinding_IServicioActualizacionJugadoresEnLinea">
                <identity>
                    <userPrincipalName value="THELASTLAPTOPHP\Carim" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8083/LaOcaServicio" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IServicioSocial" contract="LaOcaService.IServicioSocial"
                name="NetTcpBinding_IServicioSocial">
                <identity>
                    <userPrincipalName value="THELASTLAPTOPHP\Carim" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8083/LaOcaServicio" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IServicioAmistad" contract="LaOcaService.IServicioAmistad"
                name="NetTcpBinding_IServicioAmistad">
                <identity>
                    <userPrincipalName value="THELASTLAPTOPHP\Carim" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8083/LaOcaServicio" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IServicioBuzon" contract="LaOcaService.IServicioBuzon"
                name="NetTcpBinding_IServicioBuzon">
                <identity>
                    <userPrincipalName value="THELASTLAPTOPHP\Carim" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
	<log4net>
		<appender name="FileAppender" type="log4net.Appender.FileAppender">
			<file value="log.txt"/>
			<appendToFile value="true"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
			</layout>
		</appender>

		<root>
			<level value="DEBUG"/>
			<appender-ref ref="FileAppender"/>
		</root>
	</log4net>
</configuration>
